<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tipo de Descarte</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Tipo Descarte</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content" id="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cadastro</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-toggle="collapse" data-target="#body" aria-expanded="true"
                      aria-controls="body" data-card-widget="collapse">
                <i class="icon-action fa fa-chevron-down"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form [formGroup]="form"
                (ngSubmit)="onSubmit()"
          >
            <div class="collapse" id="body">
              <div class="card-body">
                <div class="list row" style="padding-top: 15px">
                  <div class="col-sm-12 col-md-4">
                    <label for="nome">Nome</label>
                    <input
                      formControlName="nome"
                      type="text"
                      id="nome"
                      class="form-control"
                      name="nome"
                      required
                      placeholder="Nome"
                    >
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <label for="valor">Valor</label>
                    <input
                      currencyMask
                      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                      required
                      formControlName="valor"
                      type="text"
                      class="form-control"
                      id="valor"
                      placeholder="R$ 0.00">
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <label for="status">Status</label>
                    <select
                      [value]="true"
                      required
                      formControlName="ativo"
                      type="tex"
                      class="form-control"
                      id="status">
                      <option value="true">Ativo</option>
                      <option value="false">Inativo</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary fa-pull-right">Salvar</button>
              </div>
            </div>
            <!-- /.card-body -->

          </form>
        </div>
        <!-- /.card -->

        <!--        Tabela  -->
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Lista</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-toggle="collapse" data-target="#lista"
                      aria-expanded="true"
                      aria-controls="lista" data-card-widget="collapse">
                <i class="icon-action fa fa-chevron-down"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="collapse show" id="lista">
            <div class="card-body">
              <div class="list row" [formGroup]="filterGroup">
                <div class="col-sm-12 col-md-6">
                  <label for="nomeFiltro">Nome</label>
                  <input
                    (change)="filter()"
                    formControlName="nomeFilter"
                    type="text"
                    class="form-control"
                    id="nomeFiltro"
                    placeholder="Nome"
                  >
                </div>
                <div class="col-sm-12 col-md-6">
                  <label for="statusFiltro">Status</label>
                  <select
                    [value]="true"
                    (change)="filter()"
                    required
                    formControlName="statusFilter"
                    type="tex"
                    class="form-control"
                    id="statusFiltro">
                    <option value="true" >Ativo</option>
                    <option value="false">Inativo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Valor</th>
                      <th>Situação</th>
                      <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let entity of entities | paginate: {
                                itemsPerPage: 5,
                                currentPage: page,
                                totalItems: count};">
                      <td> {{entity.nome}}</td>
                      <td> {{entity.valor | currency:'BRL'}}</td>
                      <td>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input disabled type="checkbox" class="custom-control-input" [checked]="entity.ativo"
                                 (change)="alterarSituacao(entity)" #customSwitch3 id="customSwitch3">
                          <label class="custom-control-label" for="customSwitch3">{{entity.ativo === true ? 'Ativo' : 'Inativo' }}</label>
                        </div>
                      </td>
                      <td>
                        <button title="Editar" (click)="editar(entity)" class="btn  btn-outline-warning"><i
                          class="fas fa-edit"></i></button>
                      </td>
                    </tr>
                    <div class="col-12">
                      <pagination-controls
                        previousLabel="Anterior"
                        nextLabel="Próximo"
                        responsive="true"
                        (pageChange)="handlePageChange($event)">

                      </pagination-controls>
                    </div>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        /. Tabela  -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Excluir Tipo de Descarte</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja excluir: <b>{{tipoDescarteExcluir.nome}}?</b></p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" #closebutton data-dismiss="modal">Cancelar</button>
        <button (click)="excluirTipoDescarte()" id="closebutton" type="button" class="btn btn-danger">Excluir</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
