<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tipo de Descarte</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Tipo Descarte</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content" id="content">
  <notifier-container></notifier-container>
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cadastro</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form [formGroup]="form"
                (ngSubmit)="onSubmit()"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input
                  formControlName="nome"
                  type="text"
                  id="nome"
                  class="form-control"
                  name="nome"
                  required
                  placeholder="Nome"
                >
              </div>
              <div class="form-group">
                <label for="valor">Valor</label>
                <input
                  required
                  formControlName="valor"
                  type="number"
                  class="form-control"
                  id="valor"
                  placeholder="Valor">
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary fa-pull-right">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->


<!--        Tabela  -->

        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Lista</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th colspan="2" style="width: 10%; text-align: center">Ação</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let entity of entities">
                <td> {{entity.nome}}</td>
                <td> {{entity.valor | currency:'BRL'}}</td>
                <td><button  title="Editar" (click)="editar(entity)"  class="btn  btn-outline-warning"><i class="fas fa-edit"  data-toggle="modal" data-target="#content"></i></button></td>
                <td>
                  <button (click)="tipoDescarteAexcluir(entity)" title="Excluir"  class="btn  btn-outline-danger" data-toggle="modal" data-target="#modal-default"><i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
<!--        /. Tabela  -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Excluir Tipo de Descarte</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja excluir:  <b>{{tipoDescarteExcluir.nome}}?</b></p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" #closebutton data-dismiss="modal">Cancelar</button>
        <button (click)="excluirTipoDescarte()" id="closebutton" type="button" class="btn btn-danger">Excluir</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
