<div class="list row" style="padding-top: 15px">
  <div class="col-sm-12 col-md-6">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Placa"
        [(ngModel)]="placa"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="retrieveTutorials()">
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Modelo"
        [(ngModel)]="modelo"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="retrieveTutorials()">
          Buscar
        </button>
      </div>
    </div>
  </div>
  <br/>

  <div class="container-fluid">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Veículos</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="col-12 table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center">Marca</th>
              <th class="text-center">Modelo</th>
              <th class="text-center">Placa</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entity of entities | paginate: {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count};
                  let i = index"
                [class.table-active]="i === currentIndex"
                (click)="setActiveTutorial(entity, i)">
              <td> {{entity.marca}}</td>
              <td> {{entity.modelo}}</td>
              <td> {{entity.placa}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Próximo"
      responsive="true"
      (pageChange)="handlePageChange($event)">

    </pagination-controls>
  </div>
</div>
