<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Veículo</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Veículo</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Cadastro</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-toggle="collapse" data-target="#body"
                        aria-expanded="true"
                        aria-controls="body" data-card-widget="collapse">
                  <i class="icon-action fa fa-chevron-down"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="collapse" id="body">
              <div class="card-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <label for="marca">Marca</label>
                      <input
                        [(ngModel)]="veiculo.marca"
                        formControlName="marca"
                        type="text"
                        id="marca"
                        class="form-control"
                        name="marca"
                        required
                        placeholder="Marca do Veículo">
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <label for="modelo">Modelo</label>
                      <input
                        [(ngModel)]="veiculo.modelo"
                        formControlName="modelo"
                        type="text"
                        id="modelo"
                        class="form-control"
                        name="modelo"
                        required
                        placeholder="Modelo do Veículo">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <label for="placa">Placa</label>
                      <input
                        [(ngModel)]="veiculo.placa"
                        formControlName="placa"
                        type="text"
                        id="placa"
                        class="form-control"
                        name="placa"
                        required
                        placeholder="Placa do Veículo">
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <label>Transportadora</label>
                      <select formControlName="transportador" [(ngModel)]="transportadorSelecionado" id="transportador"
                              class="form-control select2" style="width: 100%;">
                        <option *ngFor="let transp of transportadores" [ngValue]="transp">{{transp.nome}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit"
                        class="btn btn-{{isEdicao ? 'warning' : 'success'}} fa-pull-right">{{isEdicao ? 'Alterar' : 'Salvar'}}</button>
                <span></span>
                <button type="button" style="margin-right: 10px;" (click)="limpar()"
                        class="btn btn-secondary fa-pull-right">{{isEdicao ? 'Cancelar' : 'Limpar'}}</button>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</form>

<section class="content">
  <div class="container-fluid">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Lista</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="list row" [formGroup]="filterGroup">
          <div class="col-sm-12 col-md-4">
            <label for="modeloFiltro">Modelo</label>
            <input
              (change)="carregarEntidades()"
              required
              formControlName="modeloFilter"
              type="tex"
              class="form-control"
              id="modeloFiltro"
              placeholder="Modelo">
          </div>
          <div class="col-sm-12 col-md-4">
            <label for="placaFiltro">Placa</label>
            <input
              (change)="carregarEntidades()"
              required
              formControlName="placaFilter"
              type="tex"
              class="form-control"
              id="placaFiltro"
              placeholder="Placa">
          </div>
          <div class="col-sm-12 col-md-4">
            <label for="statusFiltro">Status</label>
            <select
              [value]="true"
              (change)="carregarEntidades()"
              required
              formControlName="statusFilter"
              type="tex"
              class="form-control"
              id="statusFiltro">
              <option value="true">Ativo</option>
              <option value="false">Inativo</option>
            </select>
          </div>
        </div>
        <button style="margin-top: 15px" type="button" class="btn btn-primary fa-pull-right">Filtrar</button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th class="text-center">Placa</th>
                <th class="text-center">Transportador</th>
                <th class="text-center">Situação</th>
                <th class="text-center col-2" colspan="3">Ação</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let entity of entities | paginate: {
                                itemsPerPage: 5,
                                currentPage: currentPage,
                                totalItems: count};">
                <td> {{entity.placa}}</td>
                <td> {{entity.transportador.nome}}</td>
                <td>
                  <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    <input disabled type="checkbox" class="custom-control-input" [checked]="entity.ativo"
                           #customSwitch3 id="customSwitch3">
                    <label class="custom-control-label" for="customSwitch3">{{entity.ativo === true ? 'Ativo' : 'Inativo' }}</label>
                  </div>
                </td>
                <td class="text-center">
                  <button title="Editar" (click)="editar(entity)" class="btn  btn-outline-warning"><i
                    class="fas fa-edit"></i></button>
                </td>
                <td class="text-center">
                  <button title="Visualizar" class="btn  btn-outline-success"><i
                    class="fas fa-eye"></i></button>
                </td>
                <td class="text-center">
                  <button (click)="prepararExclusao(entity)" title="Excluir" class="btn  btn-outline-danger"
                          data-toggle="modal"
                          data-target="#modal-default"><i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
              <div class="col-12">
                <pagination-controls
                  previousLabel="Anterior"
                  nextLabel="Próximo"
                  responsive="true"
                  (pageChange)="handlePageChange(getParams($event))">
                </pagination-controls>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Excluir Veículo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja excluir: <b>{{veiculoExcluir.marca }} - {{veiculoExcluir.modelo}}</b> | Placa
          <b> {{veiculoExcluir.placa}} ?</b></p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" #closebutton data-dismiss="modal">Cancelar</button>
        <button (click)="excluir()" id="closebutton" type="button" class="btn btn-danger">Excluir</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
