<!--        Tabela  -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Lista</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="list row" [formGroup]="filterGroup">
      <div class="col-sm-12 col-md-6">
        <label>Transportador</label>
        <select
          formControlName="transportador"
          id="transportador"
          class="form-control select2" style="width: 100%;" (change)="carregarEntidades()">
          <option *ngFor="let transp of transportadores" [ngValue]="transp">
            Razão Social: {{transp.razaoSocial}} | CNPJ: {{transp.cnpj}}</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6">
        <label for="numeroFiltro">Número CTR</label>
        <input
          formControlName="numeroFiltro"
          (change)="carregarEntidades()"
          type="number"
          class="form-control"
          id="numeroFiltro"
          placeholder="Número CTR">
      </div>
      <div class="col-sm-12 col-md-6">
        <label for="dataDe">Data Início</label>
        <input
          formControlName="dataDe"
          (blur)="carregarEntidades()"
          type="date"
          class="form-control"
          id="dataDe">
      </div>
      <div class="col-sm-12 col-md-6">
        <label for="dataAte">Data Fim</label>
        <input
          formControlName="dataAte"
          (blur)="carregarEntidades()"
          type="date"
          class="form-control"
          id="dataAte">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Número</th>
            <th>Data</th>
            <th>Transportadora</th>
            <th>Valor</th>
            <th style="width: 10%; text-align: center">Ação</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entity of entities | paginate: {
                                itemsPerPage: 5,
                                currentPage: currentPage,
                                totalItems: count};">
            <td style="height: 15px"> <b>{{entity.id | numeroCtr}}</b></td>
            <td style="height: 15px"> {{entity.geracao | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td style="height: 15px"> {{entity.transportador.nome}}</td>
            <td style="height: 15px"> {{valorTotal(entity) | currency: 'BRL'}}</td>
            <td style="text-align: center">
              <button [routerLink]="['/invoice/', entity.id]" class="btn  btn-outline-success" title="Visualizar">
                <i class="fas fa-eye"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer clearfix">
    <div class="col-12">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Próximo"
        responsive="true"
        (pageChange)="handlePageChange(getParams($event))">
      </pagination-controls>
    </div>
  </div>
</div>
<!--        /. Tabela  -->
