<!--        Tabela  -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Lista</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Número</th>
        <th>Data</th>
        <th>Transportadora</th>
        <th>Valor</th>
        <th style="width: 10%; text-align: center">Ação</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entity of entities">
        <td style="height: 15px"> {{entity.id | numeroCtr}}</td>
        <td style="height: 15px"> {{entity.geracao}}</td>
        <td style="height: 15px"> {{entity.transportador.nome}}</td>
        <td style="height: 15px"> {{valorTotal(entity) | currency: 'BRL'}}</td>
        <td style="text-align: center">
          <button [routerLink]="['/invoice/', entity.id]" class="btn  btn-outline-success" title="Visualizar">
            <i class="fas fa-eye"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--        /. Tabela  -->
