<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard Financeiro</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard Financeiro</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <h3 class="card-title">Valor Descartes Mensal</h3>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex">
              <p class="d-flex flex-column">
                <span>Acumulado Mensal(R$)</span>
              </p>
              <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-{{retorno >= 0 ? 'success':'red'}}">
                      <i class="fas fa-arrow-{{retorno >= 0 ? 'up' : 'down' }}"></i> {{retorno | percent:'1.2-2'}}
                    </span>
                <span class="text-muted">Comparado ao mês anterior</span>
              </p>
            </div>
            <!-- /.d-flex -->

            <div>
              <canvas id="ChartMensal">{{ entradasMes }}</canvas>
            </div>

            <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> {{anoAtual}}
                  </span>
              <span>
                    <i class="fas fa-square text-gray"></i> {{anoAnterior}}
                  </span>
            </div>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <h3 class="card-title">Descartes</h3>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex">
              <p class="d-flex flex-column">
                <span class="text-bold text-lg">{{acumuladoSemanaAtual() | currency: 'BRL'}}</span>
                <span>Descartes nesta semana</span>
              </p>
              <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-{{retornoSemana() >= 0 ? 'success': 'red'}}">
                      <i
                        class="fas fa-arrow-{{retornoSemana() >= 0 ? 'up' : 'down' }}"></i>{{retornoSemana() | percent:'1.2-2'}}
                    </span>
                <span class="text-muted">Acumulado Semana Atual</span>
              </p>
            </div>
            <!-- /.d-flex -->

            <div class="chart-container" style="height: 70%">
              <canvas id="MyChart">{{ chart }}</canvas>
            </div>

            <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> Semana Atual
                  </span>

              <span>
                    <i class="fas fa-square text-gray"></i> Semana Anterior
                  </span>
            </div>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-0">
            <p class="text-center">
              <strong>Forma Pagamento Acumulado</strong>
            <p class="d-flex flex-column">
            <span>Total Recebido: {{totalPagamentos | currency: 'BRL'}}</span>
          </div>
          <div class="card-body" >
            <div class="progress-group" *ngFor="let pagamento of pagamentos">
              {{pagamento.nome}}
              <span class="float-right"><b>{{pagamento.valor | currency: 'BRL'}}</b></span>
              <div class="progress progress-sm">
                <div class="progress-bar bg-primary" [ngStyle]="{ 'width.%':(pagamento.valor / totalPagamentos * 100)}"></div>
              </div>
            </div>
          </div>
            <!-- /.progress-group -->
          <!-- /.progress-group -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-0">
            <p class="text-center">
              <strong>Ranking Transportador</strong>
            <p class="d-flex flex-column">
              <span>Total recebido por descartes: {{totalPagamentos | currency: 'BRL'}}</span>
          </div>
          <div class="card-body" >
            <div class="progress-group" *ngFor="let transportador of transportadores">
              {{transportador.nome}}
              <span class="float-right"><b>{{transportador.valor | currency: 'BRL'}}</b></span>
              <div class="progress progress-sm">
                <div class="progress-bar bg-primary" [ngStyle]="{ 'width.%':(transportador.valor / totalPagamentos * 100)}"></div>
              </div>
            </div>
          </div>
          <!-- /.progress-group -->
          <!-- /.progress-group -->
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
