<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Invoice</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Invoice</li>
        </ol>
      </div>
    </div>
  </div>
</section>

 
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="invoice p-3 mb-3">
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe-africa"></i> RECOVER GREEN AMBIENTAL
                <small class="float-right">Data: {{ctr.geracao | date: 'dd/MM/yyyy HH:mm'}}</small>
              </h4>
            </div>
          </div>
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              <div *ngIf="ctr.gerador.id !== null && ctr.gerador.id !== undefined">
                Origem
                <address>
                  <strong>{{ctr.gerador.nome}}{{ctr.gerador.razaoSocial}}</strong><br>
                  {{ctr.gerador.retirada.logradouro}} <span
                  *ngIf="ctr.gerador.retirada.numero">Nº </span> {{ctr.gerador.retirada.numero}} {{ctr.gerador.retirada.complemento}} {{ctr.gerador.retirada.bairro}}
                  <br>
                  {{ctr.gerador.retirada.cidade}} - {{ctr.gerador.retirada.estado}}<br>
                  Telefone: {{ctr.gerador.telefone}}<br>
                  Email: {{ctr.gerador.email}}
                </address>
              </div>
              <div *ngIf="ctr.gerador.id == '' || ctr.gerador.id === undefined">
                <p>Gerador não informado</p>
              </div>
            </div>
            <div class="col-sm-4 invoice-col">
              Destino
              <address>
                <strong>{{ctr.destinatario.razaoSocial}}</strong><br>
                {{ctr.destinatario.enderecoRecebimento.logradouro}} <span
                *ngIf="ctr.destinatario.enderecoRecebimento.numero">Nº </span> {{ctr.destinatario.enderecoRecebimento.numero}} {{ctr.destinatario.enderecoRecebimento.complemento}} {{ctr.destinatario.enderecoRecebimento.bairro}}
                <br>
                {{ctr.destinatario.enderecoRecebimento.cidade}} - {{ctr.destinatario.enderecoRecebimento.estado}}<br>
                Telefone: {{ctr.destinatario.telefone}}<br>
                Email: {{ctr.destinatario.email}}
              </address>
            </div>
            <div class="col-sm-4 invoice-col">
              Transportadora
              <address>
                <strong>{{ctr.transportador.razaoSocial}}</strong><br>
                {{ctr.transportador.endereco.logradouro}} <span
                *ngIf="ctr.transportador.endereco.numero">Nº </span> {{ctr.transportador.endereco.numero}} {{ctr.transportador.endereco.complemento}} {{ctr.transportador.endereco.bairro}}
                <br>
                {{ctr.transportador.endereco.cidade}} - {{ctr.transportador.endereco.estado}}<br>
                Telefone: {{ctr.transportador.telefone}}<br>
                Email: {{ctr.transportador.email}}
              </address>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>
                  <small class="float-right"><strong>Número CTR: </strong><span class="badge badge-success" style="margin-bottom: 5px; font-size: 16px; ">{{ctr.numero | numeroCtr}}</span></small>
                </h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Placa Veículo</th>
                  <th>Modelo Veículo</th>
                  <th>Motorista</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ctr.veiculo.placa}}</td>
                  <td>{{ctr.veiculo.modelo}}</td>
                  <td>{{ctr.motorista.nome}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <p class="lead d-flex justify-content-center">Descartes</p>
              <div class="table-responsive">
                <table class="table">
                  <tr *ngFor="let descarte of descartes">
                    <td>{{descarte.nome}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-4">
              <p class="lead d-flex justify-content-center">Forma Pagamento</p>

              <div class="table-responsive">
                <table class="table">
                  <td>Nome</td>
                  <td>Instituição Bancária</td>
                  <td>Valor</td>
                  <tr *ngFor="let pagamento of pagamentos">
                    <th>{{pagamento.formaPagamento.nome}}</th>
                    <th *ngIf="pagamento.instituicaoBancaria">{{pagamento.instituicaoBancaria.nome}}</th>
                    <td>{{pagamento.valor | currency:'BRL'}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-4">
              <p class="lead d-flex justify-content-center">Pagamento</p>

              <div class="table-responsive">
                <table class="table">
                  <tr *ngIf="desconto(ctr)">
                    <th>Desconto</th>
                    <td>{{valorDesconto | currency: 'BRL'}}</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td>{{total(ctr) | currency: 'BRL'}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
