<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>CTR</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">CTR</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Lançar CTR</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">
            <div class="form-group">
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="Número e Data">
                  <div class="row" style="margin-right: auto;">
                    <div class="col-6 col-xs-12">
                      <label for="numero">Número CTR</label>
                      <input
                        (change)="vinculaNumeroCTR()"
                        id="numero"
                        type="number"
                        class="form-control"
                        placeholder="Número CTR"
                        [(ngModel)]="numero"
                      />
                    </div>
                    <div class="col-6 col-xs-12">
                      <label for="data">Data CTR</label>
                      <input
                        (change)="vinculaData()"
                        id="data"
                        type="datetime-local"
                        class="form-control"
                        [(ngModel)]="data"
                      />
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Veículo">
                  <div class="col-12">
                    <label>Veículo</label>
                    <select [(ngModel)]="veiculoSelecionado" id="veiculo"
                            class="form-control select2" style="width: 100%;" (change)="vinculaVeiculo()">
                      <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo"> Placa: {{veiculo.placa}} |
                        Modelo: {{veiculo.modelo}} | Marca: {{veiculo.marca}}</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <label>Motorista</label>
                    <select [(ngModel)]="motoristaSelecionado" id="motorista"
                            class="form-control select2" style="width: 100%;" (change)="vinculaMotorista()">
                      <option *ngFor="let motorista of motoristas" [ngValue]="motorista">
                        Nome: {{motorista.nome}} | Telefone: {{motorista.telefone}}</option>
                    </select>
                  </div>
                </mat-tab>
                <mat-tab label="Transportador">
                  <div class="col-12">
                    <label>Transportador</label>
                    <select [(ngModel)]="transportadorSelecionado" id="transportador"
                            class="form-control select2" style="width: 100%;" (change)="vinculaTransportador()">
                      <option *ngFor="let transp of transportadores" [ngValue]="transp"> Razão
                        Social: {{transp.razaoSocial}} |
                        CNPJ: {{transp.cnpj}}</option>
                    </select>
                  </div>
                </mat-tab>
                <mat-tab label="Gerador">
                  <div class="col-12">
                    <label>Gerador</label>
                    <select [(ngModel)]="geradorSelecionado" id="gerador"
                            class="form-control select2" style="width: 100%;" (change)="vinculaGerador()">
                      <option *ngFor="let gerador of geradores" [ngValue]="gerador">
                        Nome: {{gerador.nome}} {{gerador.razaoSocial}} |
                        Documento: {{gerador.cnpj}} {{gerador.cpf}}</option>
                    </select>
                  </div>
                </mat-tab>
                <mat-tab label="Destinatário">
                  <div class="col-12">
                    <label>Destinatario</label>
                    <select [(ngModel)]="destinatarioSelecionado" id="destinatario"
                            class="form-control select2" style="width: 100%;" (change)="vinculaDestinatario()">
                      <option *ngFor="let destinatario of destinatarios" [ngValue]="destinatario"> Razão
                        Social: {{destinatario.razaoSocial}} |
                        CNPJ: {{destinatario.cnpj}}</option>
                    </select>
                  </div>
                </mat-tab>
                <mat-tab label="Descarte">
                  <div class="col-12">
                    <label>Tipo Descarte</label>
                    <select [(ngModel)]="tipoDescarteSelecionado" id="descarte"
                            (change)="calcularValor()"
                            class="form-control select2" style="width: 100%;">
                      <option *ngFor="let descarte of descartes" [ngValue]="descarte">
                        {{descarte.nome}}
                      </option>
                    </select>
                  </div>

                  <button [disabled]="tipoDescarteSelecionado == null" type="button" (click)="adicionarDescartes()"
                          id="adicionaredescartebutton"
                          class="btn btn-info fa-pull-right ">Adicionar Descarte
                  </button>

                  <!-- /.card-header -->
                  <div class="col-12 table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th style="width: 10%; text-align: center">Excluir</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let tipoDescarte of ctr.tipoDescartes">
                        <td> {{tipoDescarte.nome}}</td>
                        <td>
                          <button (click)="excluirTipoDescarte(tipoDescarte)" title="Excluir"
                                  class="btn  btn-outline-danger"><i
                            class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-tab>
                <mat-tab label="Pagamento">
                  <div class="row">
                    <div class="col-6 col-xs-12">
                      <label>Forma Pagamento</label>
                      <select [(ngModel)]="formaPagamentoSelecionado" id="formaPagamento"
                              class="form-control select2" style="width: 100%;">
                        <option *ngFor="let formaPagamento of formasPagamento" [ngValue]="formaPagamento">
                          {{formaPagamento.nome}}
                        </option>
                      </select>
                    </div>

                    <div class="col-6 col-xs-12" *ngIf="formaPagamentoSelecionado.nome !== 'Combo' ">
                      <label>Instituição Bancária</label>
                      <select [(ngModel)]="instituicaoBancariaSelecionada" id="insBancaria"
                              class="form-control select2" style="width: 100%;">
                        <option *ngFor="let instBancaria of instituicaoBancaria" [ngValue]="instBancaria">
                          {{instBancaria.nome}} - {{instBancaria.agencia}} - {{instBancaria.conta}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-xs-12" *ngIf="formaPagamentoSelecionado.nome !== 'Combo'">
                      <label>Valor</label>
                      <input
                        currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                        [(ngModel)]="valorPagamento"
                        type="text"
                        class="form-control"
                        name="pagamento"
                        required
                        id="pagamento"
                        placeholder="R$ 0.00">
                    </div>
                    <div class="col-6 col-xs-12">
                      <label for="dataPagamento">Data Pagamento</label>
                      <input
                        (change)="vinculaDataPagamento()"
                        id="dataPagamento"
                        type="date"
                        class="form-control"
                        [(ngModel)]="dataPagamento"
                      />
                    </div>
                  </div>
                  <button [disabled]="formaPagamentoSelecionado.nome == null" type="button"
                          (click)="adicionarPagamento()"
                          id="adicionarpagamentobutton"
                          class="btn btn-info fa-pull-right ">Adicionar Pagamento
                  </button>

                  <div class="col-12 table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Data Pagamento</th>
                        <th>Instituição Bancária</th>
                        <th>Valor</th>
                        <th style="width: 10%; text-align: center">Excluir</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let pagamento of ctr.pagamentos">
                        <td> {{pagamento.formaPagamento.nome}}</td>
                        <td> {{pagamento.dataPagamento | date}}</td>
                        <td> {{pagamento.instituicaoBancaria === undefined ? '--' : pagamento.instituicaoBancaria.nome}}</td>
                        <td> {{pagamento.formaPagamento.nome !== 'Combo' ? pagamento.valor : 0.00 | currency:'BRL'}}</td>
                        <td>
                          <button (click)="excluirPagamento(pagamento)" title="Excluir" class="btn  btn-outline-danger">
                            <i
                              class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="card-footer text-center">
                      <span href="javascript:void(0)"
                            class="uppercase">Valor Total: {{valorTotalPagamentos() | currency: 'BRL'}}</span>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button (click)="limpar()" type="button" class="btn btn-warning ">Limpar</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success fa-pull-right ">Salvar CTR</button>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
